h2{
    font-weight: bold;
    margin:0;
    margin:2% 5%;
    font-size: 43px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(255, 0, 0);
}
.pagination{
    margin:2% 3%;
    
}
li.page-item.active{
    background-color: aqua;
}
.teble-data{
    margin: 3%;
    text-align: center;
}
/* .teble-data tr{
    margin:0;
    text-align: center;
} */
.LineChart{
    margin-top:0;
}
.page-link {
   color:red;

}